/* 汎用性のためクラスでは無く要素そのものをいじる(Classだと書かないといけない */

@import url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho);

.error-aleart { /*これないとエラーが背景と同化して見えないので困ります*/
  color: bisque;
  list-style:none;
}

:root {
  --brown: rgb(39, 22, 5);
  --light-brown: rgb(232, 196, 152);
}

body{
  background-color: var(--brown);
}

.mimi {
  color: bisque;
  margin: 0 auto;
}

.form-element-wrapper {

  background-color: bisque;
  margin: 20px;
  padding: 20px;
  box-shadow: inset 0 0 0 6px bisque,  
              inset 0 0 0 10px var(--brown);
}

.form-element-wrapper-content,.form-element-wrapper-content-textarea {
  color: rgb(39, 22, 5);
  background-color: var(--light-brown);
  border: 8px double var(--brown);
  margin: 10px auto 0 auto;
  height: 35px;
  width: 75%;
}

.form-element-wrapper-content-textarea {
  height: 75px;
}

.form-element-wrapper-title{
  margin-bottom: 10px;
  background-color: var(--brown);
  color: bisque;
  width: 50%;
  margin: 0 auto;
}

  .wrapper {
    color: var(--brown);
    font-weight: 1000;
    font-size: 20px;
    max-width: 550px;
    margin: 3dvw auto 0 auto;
    text-align: center;
  }

  input,textarea {
    border: 4px solid var(--brown);
    height: 30px;
    width: 75%;
  }

  textarea {
    height: 70px; /*heightの値を上書き*/
  }

  button {
    margin: 0 auto 20px auto;
    appearance: none;
    background-color: bisque;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--brown);
    box-shadow: inset 0 0 0 3px bisque,  
                inset 0 0 0 6px var(--brown);
  }

  input[type=checkbox] {
    accent-color: rgb(39, 22, 5);
  }