:root {
  --brown: rgb(39, 22, 5);
  --light-brown: rgb(232, 196, 152);
}

.wrapper {
  max-width: 960px;
  margin: 3dvw auto 0 auto;
  text-align: center;
  padding: 4dvw;
}

body{
  background-color: var(--brown);
}

.wrapper-title {
  color: bisque;
  font-size: 30px;
}

.card-container {
  display: grid;
  gap: 1.5dvw;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

button{
  color: bisque;
  background-color: var(--brown);
  font-weight: bold;
  margin: 0 auto;
  width: 50%;
}

.card {
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
  row-gap: 5px;
  padding: 23px;
  box-shadow: inset 0 0 0 6px bisque,  
              inset 0 0 0 10px var(--brown);
  background-color: bisque;
}

/* .cardにある.card-titleに対する操作です(複数に当てる倍は,で区切るよ.) */
.card .card-title { 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  color: var(--brown);
}

.card .image {
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 3 / 1;
  object-fit: cover;
  border: 6px solid var(--brown);
}

.back-button{
    width: 10%;
    margin: 30px auto 20px auto;
    appearance: none;
    background-color: bisque;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--brown);
    box-shadow: inset 0 0 0 3px bisque,  
                inset 0 0 0 6px var(--brown);
}