:root{
  --black :rgb(31, 31, 31)
}

body{
  background-color: var(--black);
}

.content{
  background-color: rgb(240,235,235);
  border-right: 8dvw solid var(--black);
  border-left: 8dvw solid var(--black);
  padding: 20px;/*このパディングないとちゃんと動きません*/
}

.wrapper {
  max-width: 960px;
  margin: 3dvw auto 3dvw auto;
  text-align: center;
  padding: 4dvw;
  background-color:white;
  box-shadow: 2px 2px 4px var(--black);
}

.wrapper-title {
  color: black;
  font-size: 30px;
}

.card-container {
  display: grid;
  gap: 1.5dvw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

button{
  background-color: var(--black);
  color: white;
  margin: 0 auto;
  width: 40%;
}

.card {
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  padding: 12px;
  row-gap: 5px;
  box-shadow: 2px 2px 4px black;
}

/* .cardにある.card-titleに対する操作です(複数に当てる倍は,で区切るよ.) */
.card .card-title { 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
}

.card .image {
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 5 / 3;
  object-fit: cover;
}

.back-button{
    width: 10%;
    margin: 30px auto 20px auto;
    appearance: none;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: black;
}