/* ラッパーは角丸していいけどグリッドの中身のカードは丸くない方がいい */
.wrapper {
  max-width: 960px;
  margin: 3dvw auto 0 auto;
  text-align: center;
  padding: 4dvw;
}

.hoge{
  color: bisque;
}

body{
  background-color: rgb(39, 22, 5);
}

.wrapper-title {
  color: bisque;
  font-size: 30px;
}

.card-container {
  display: grid;
  gap: 1.5dvw;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

button{
    background-color: bisque;
}

.card {
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  row-gap: 12px;
  padding: 23px;
  background-color: bisque;
  border: 6px solid black;
}

.card .card-title {
  font-size: 20px;
  font-weight: 600px;
  text-align: center;
  align-self: center;
}

.card .image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}


.image{
  border: 6px solid black;
}