:root{
  --black :rgb(67,67,67)
}

a {
  text-decoration: none;
}

header {
  max-width:960px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  height: 120px;
  background-color: var(--black);
}

.line {
  height: 40px;
  background-color: rgb(129, 129, 129);
}

header h2 a{
  color: rgb(195,195,195);
  font-weight: 100;
}

header ul {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

header ul li {
  font-size: 1.1rem;
  margin-left: 30px;
  list-style: none;
}

header ul li a {
  color: rgb(195,195,195);
}

footer{
  height: 120px;
}

@media screen and (max-width: 600px) {
  .site-title {
  margin-top: 20px;
}

  header {
  flex-direction: column;
  height: auto;
  }
}